* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

#toDoForm {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

#toDoForm input {
    padding: 10px;
    font-size: 17px;
    outline: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    max-width: 500px;
    transition: background-color 200ms ease-in-out;
    width: 100%;
    border: 1px solid black;
}

/* Input themes */
#toDoForm input.standard-input {
    background-color: #181a1a;
    color: rgb(247, 226, 223);
}


#toDoForm input.light-input {
    background-color: #AEB1B4;
    color: #1a150e;
}

#toDoForm input.light-input::placeholder {
    color: #1a150e;
    opacity: 0.7;
}

#toDoForm input.darker-input {
    background-color: #01394c;
    color: white;
}

#toDoForm input.darker-input::placeholder {
    color: white;
    opacity: 0.7;
}

#toDoForm input:hover {
    cursor: text;
}

#toDoForm input.standard-input:hover {
    background-color: rgb(0, 0, 0);
}

#toDoForm input.light-input:hover {
    background-color: #919699;
}

#toDoForm input.darker-input:hover {
    background-color: #013141;
}

button {
    border: none;
    outline: none;
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
}

button:hover {
    cursor: pointer;
}




#toDoForm button {
    padding: 10px;
    font-size: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
}

.toDoList-wrapper {
    padding: 80px 0 120px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

#list-item {
    list-style: none;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.toDoList-title {
    display: block;
    text-align: center;
    font-weight: 800;
    padding: 0 0 25px;
}
.toDoList-actions{
    display: flex;
    align-items: center;
    gap: 15px;
}
#list-item .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.todo {
    margin: 1rem;
    /* background: rgb(247, 226, 223); */
    /* color: black; */
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 30px;
    transition: background-color 200ms ease-in-out;
}


.check-btn, .delete-btn {
    font-size: 19px;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 80%;
    margin: 0 5px;
}

.todo-item {
    padding: 0rem 0.5rem;
}


@media only screen and (max-width: 400px) {
    #toDoForm {
        align-items: center;
        flex-direction: column;
    }

   #toDoForm input {
        border-radius: 17px;
    }

    #toDoForm button {
        border-radius: 15px;
        margin-top: 15px;
        width: 50%;
    }

    #toDoForm > button.light-button {
        box-shadow: 0 0 5px lightgray;
    }
}