* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

#toDoForm {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

#toDoForm input {
    padding: 10px;
    font-size: 17px;
    outline: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    max-width: 500px;
    transition: background-color 200ms ease-in-out;
    width: 100%;
    border: 1px solid black;
}

#addButton{
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.toDoList-wrapper {
    padding: 80px 0 120px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

#list-item {
    list-style: none;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

.toDoList-title {
    display: block;
    text-align: center;
    font-weight: 800;
    padding: 0 0 25px;
}

.toDoList-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

#list-item .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}


.updateTask, .deleteTask {
    padding: 10px;
    color: white;
}

.deleteTask {
    background-color: red;
}
.updateTask{
    background-color: green;
}

.todo-item {
    padding: 0 0.5rem;
}

input[type="text"]{
    padding: 8px;
    border: 1px solid lightgrey;
}

